<% include ./partials/header %>
<div class="ui main container segment">
  <form class="ui form" action="/kings" method="POST">
      <div class="field">
        <label>King's Name</label>
        <input type="text" placeholder="Name" name="king[name]">
      </div>
      <div class="field">
        <label>Image Url</label>
        <input type="text" placeholder="Image" name="king[image]">
      </div>
      <div class="field">
          <label>Description</label>
          <textarea name="king[description]"></textarea>
      </div>
      <button class="ui button mini green inverted" type="submit">Submit</button>
    </form>
</div>  
<% include ./partials/header %>