<% include ./partials/header %>

<div class="ui main container segment">
    <div class="segment">
        <div class="">
            <h2 class="ui header centered"><%= king.name %></h2>
          </div>
          <div class="">
              <img src="<%= king.image %>" class="ui centered large image" alt="">
          </div>
          <div class=" decription ui two column centered grid">
              <p class=""><%= king.description %></p>
          </div>
    </div>
</div>

<% include ./partials/header %>