body {
  background: ivory;
  margin-top: 50px;
}

p {
  margin-bottom: 40px;
}

/* .header {
  margin-bottom: 20px; 
} */


img {
  max-width: 400px;
}

.ui.header.centered {
  margin-bottom: 20px;
}

.ui.centered.large.image {
  margin-bottom: 30px;
}

.decription-ui-two-column-centered-grid {
  margin-bottom: 40px;
}

.show-image {
  margin: 0 auto;
}

.segment {
  padding: 20px 0 40px 0;
}

.description {
  margin-top: 30px;
}