body {
  background: rgba(253, 253, 253, 1);
  margin-top: 50px;
}
h1 {
  margin: 15px auto;
}

p {
  margin-bottom: 10px;
  line-height: 1.6em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

img {
  max-width: 400px;
}

.delete {
  display: inline;
}

.add-new {
  margin-bottom: 15px;
}

.ui.header.centered {
  margin-bottom: 20px;
}

.ui.centered.large.image {
  margin-bottom: 30px;
}

.ui-main-container-segment-show {
  margin: 0 50px;
  max-width: 80%;
}

.decription-ui-two-column-centered-grid {
  margin-bottom: 40px;
}

.show-image {
  margin: 0 auto;
}

.segment {
  padding: 20px 0 40px 0;
}

.description {
  margin-top: 30px;
}